{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="{% static 'lang-logo.png'%}">
      <!-- <img src="{% static 'shower-boobs-crop.jpg'%}"> -->
    </a>
    <h1>Who's thinking outside the box now, Steve?</h1>
    <p>This is the punchline for a joke about a dead boss.</p>
    <a type="button" class="btn btn-lg btn-default" href="#"><span class="glyphicon glyphicon-flash"></span> Large Default Button</a>
    <a type="button" class="btn btn-lg btn-primary" href="#"><span class="glyphicon glyphicon-download"></span> Large Primary Button</a>
  </div>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
    This app was created using the <a href="https://devcenter.heroku.com/articles/getting-started-with-python" class="alert-link">Getting Started with Python on Heroku</a> tutorial.
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-ok-sign"></span> This site is my...</h3>
      <ul>
        <li>first full stack (Python and Django) site in production.</li>
        <li>second portfolio site in production (<a href="https://https://grumpy-cat.vercel.app/">Grumpy Cat</a> was my first).</li>
        <li>third site overall, though Screep Command is not currently online.</li>
      </ul>
      <h3><span class="glyphicon glyphicon-circle-arrow-right"></span> Next Steps</h3>
      <ul>
        <li>Put this project on my Github.</li>
        <li>Build out the <a href="https://developer.mozilla.org/en-US/docs/Learn/Server-side/Django/Tutorial_local_library_website">Django Library Tutorial</a> from Mozilla.</li>
        <li>If you deployed this app by deploying the Heroku Button, then in a command line shell, run:</li>
        <ul>
          <li><code>git clone https://github.com/heroku/python-getting-started.git</code> - this will create a local copy of the source code for the app</li>
          <li><code>cd python-getting-started</code> - change directory into the local source code repository</li>
          <li><code>heroku git:remote -a &lt;your-app-name></code> - associate the Heroku app with the repository</li>
          <li>You'll now be set up to run the app locally, or <a href="https://devcenter.heroku.com/articles/getting-started-with-python#push-local-changes">deploy changes</a> to Heroku</li>
        </ul>
      </ul>
    </div>
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-question-sign"></span> Tips</h3>
      <ul>
        <li><a href="https://www.heroku.com/home">Heroku</a></li>
        <li><a href="https://devcenter.heroku.com/">Heroku Dev Center</a></li>
        <li><a href="https://devcenter.heroku.com/articles/getting-started-with-python">Getting Started with Python on Heroku</a></li>
        <li><a href="https://devcenter.heroku.com/articles/django-app-configuration">Configuring Django Apps for Heroku</a></li>
      </ul>
      <h3><span class="glyphicon glyphicon-info-sign"></span> Tricks</h3>
      <ul>
        <li>To deploy to production:</li>
        <ul>
          <li><code>git add .</code> - this will stage any changes</li>
          <li><code>git commit -m "commit message"</code> - this will commit staged changes</li>
          <li><code>git push heroku main</code> - this gets you online!</li>
        </ul>
        <li>If something goes wrong, you may need the following code:</li>
        <ul>
          <li><code>heroku git:remote -a &lt;your-app-name></code> - associate the Heroku app with the repository</li>
        </ul>
      </ul>
    </div>
  </div> <!-- row -->
  <hr>
   <div class="alert alert-info text-center" role="alert">
    That's all, folks! Thanks for stopping by. --B
  </div>
</div>
{% endblock %}
